@import 'xbem';
@import 'patterns';

@include block(building-plan) {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 3px;

  @include element(room) {
    display: grid;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      // transition: background .15s ease-in;
      border: 1px solid #1995ad;
      background-color: #e8e8e8;
    }

    @include modifier(hallway1) {
      grid-column: 1 / 5;
    }

    @include modifier(hallway2) {
      grid-column: 6 / 10;
    }

    @include modifier(hallway3) {
      grid-column: 5 / 6;
      grid-row: 1 / 4;
    }

    @include state(isactive) {
      color: #fff;
      background-color: #2185d0;
    }
  }
}
